<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}
body h1{
    font-family: 'Times New Roman', Times, serif;
     color: white;
     display: flex;
    justify-content: center; 
    font-family: fuenteadd;

}
body p{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
color: white;
display: flex;
justify-content: center;
font-family: fuenteadd;
}
body ol{
    font-family: 'Times New Roman', Times, serif;
    color: goldenrod;
    display: flex;
    justify-content: center;
    font-family: fuenteadd;
    font-size: 21px;
}

body{
    justify-items: center;
    background-color: #100420;
    margin-left: 50px;
    height: 900px;

   
}
.imagen{
width: 400px;
height: 200px;
display: flex;
size: cover;
margin-left: 480px;
margin: 0 auto;  /* para que se centre sin necesidad de margin-position */
}
@font-face {
    font-family: fuenteadd;/* se coloca el nombre q quiera */
    src: url(../fonts/Sketching\ Universe.otf);